.btn {
    margin-left: 15px;
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;

}

.form-group {
    margin-top: 25px;

}

.form-control {
    margin-left: 15px;
    width: 25%;
}
label {
    margin-left: 15px;
}